.ntop{
	background-image: url("contact.jpg");
	overflow: hidden;
}
.ntop a{
	float: left;
	display: block;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.ntop a:hover{
	background-color: #ddd;
	color:black;
}
.ntop a.active{
	background-color: #4c4c4c;
	color:white;
}
.rep{
    text-align: center;
    color:red;
}
body{
    background-image: url("contact.jpg");
    background-size:100%;
}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 2px solid #731818;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}
input[type=email], select {
    width: 50%;
    padding: 12px;
    border: 2px solid #731818;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: #4CAF50;
    width: 50%;
    text-align: center;
    color: #F4F7F8;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.input[type=submit]:hover {
    background-color: #45a049;
}
.c{
    color:red;
    font-size: 15px;
    
}
.nam{
    float: left;
	display: block;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;

}