body{
    background-image: url(guestbk.jpeg);
    background-size: 100%;
}
.l{
    color:#F9F9F9;
    text-align: center;

}
.h{
    color:#F3F0F0;
}
.r{
    color:blue;
    font-family: sans-serif;
    font-size: 14px;
}
.b{
    color:red;
    font-size: 20px;
}
.p{
    color:#F3EAEA;
    font-size: 20px;
}