<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sirisha's Guestbook</title>
<link rel="stylesheet" href="
guestbook.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">

</head>
<body>
        <div>
                <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li> <a href="/">Siri</a></li>
                            <li ><a href="/about">Home</a></li>
                            <li><a href="/MathFun">MathFun</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/guestbook">GuestBook</a></li>
                          </ul>
                        </div>
                      </nav>
               
<h1 class="l">
Sirisha's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
